
Final_version/project1_model.ipynb
Final_version/project1_data_cleaning.ipynb
bikedata.zip
2010-capitalbikeshare-tripdata.csv
2011-capitalbikeshare-tripdata.csv
bike.code-workspace
formatted_bike_data.csv
Final_version/final_df.csv
